.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(0, 0, 0), rgba(166, 193, 238, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(166, 193, 238, 1))
    }
    .table{
        margin-top: 10%;
        width: 100%;
    }
    .table th {
        padding: 10px;
        width: 100vw;
        margin-top: 10%;
    }
 
    .card{
        margin: 0%;
        padding: 0%;
    }
    .mb-5{
        padding: 0%;
    }


    @media (max-width: 768px) {

        .table {
            width: 100%;
        }
        .table th {
        
            max-width: 10px;
        }
        .table img {
            padding: 0%;
            max-width: 60px;
        }
        .p-4 {
            padding: 1.5rem!important;
            margin-top: 10px;
            padding-bottom: 0%;
        }
    
        
    }

